<% layout('../layout') -%>
BLOOD PAGE
<p class="lead"> IMAGE AND INFO GOES HERE</p>
<p class="text-center">United Blood Services</p>
<p class="text-center">1400 S 6th St McAllen, Texas 78501</p>
<p class="text-center">(877) 827-4376</p>
<p class="text-center">8:00 am - 3:00 pm</p>
