<% layout('../layout') -%>
CLOTHES AND TOYS PAGE
<p class="lead"> IMAGE AND INFO GOES HERE</p>
<p class="text-center">Goodwill of South Texas</p>
<p class="text-center">1561 S. McColl Road Edinburg, Texas 78539</p>
<p class="text-center">(866) 222-0555</p>
<p class="text-center">Open 24 Hours</p>
<%= donations%>  
