<% layout('../layout') -%>



<p class="lead"> IMAGE AND INFO GOES HERE</p>
<p class="text-center">Foodbank of the RGV</p>
<p class="text-center">724 N Cage Blvd Pharr, Texas 78577</p>
<p class="text-center">(956) 682-8101</p>
<p class="text-center">8:00 am - 5:00 pm</p>
<h3>My Google Maps Demo</h3>
<div id="map"></div>
<%= donations%>
