<%layout('layout') -%>
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>About Us</title>

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/round-about.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Page Content -->
    <div class="container">


        <!-- Introduction Row -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header"><b class="fonttitle">About Us</b>
                    <small><b class="fontbody">It's Nice to Meet You!</b></small>
                </h1>
                <p><b class="fontbody">Thank you for visiting our page!</b></p>
            </div>
        </div>

        <!-- Team Members Row -->
        <div class="row">
            <div class="col-lg-12">
                <h2 class="page-header"><b class="fonttitle">Our Team</b></h2>
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" src="http://placehold.it/200x200" alt="">
                <h3>Jesus Marco del Carmen
                    <p><small><b class="fontjob">Job Title</b></small></p>
                </h3>
                <p><b class="fontdesc">What does this team member to? Keep it short! This is also a great spot for social links!</b></p>
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" src="http://placehold.it/200x200" alt="">
                <h3>Elia Rodriguez
                  <p><small><b class="fontjob">Job Title</b></small></p>
                </h3>
                <p><b class="fontdesc">What does this team member to? Keep it short! This is also a great spot for social links!</b></p>
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" src="http://placehold.it/200x200" alt="">
                <h3>Leonardo I. Escandon Jackson
                  <p><small><b class="fontjob">Job Title</b></small></p>
                </h3>
                <p><b class="fontdesc">What does this team member to? Keep it short! This is also a great spot for social links!</b></p>
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" src="http://placehold.it/200x200" alt="">
                <h3>Gracie Montes-Lopez
                    <p><small><b class="fontjob">Job Title</b></small></p>
                </h3>
                <p><b class="fontdesc">What does this team member to? Keep it short! This is also a great spot for social links!</b></p>
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" src="http://placehold.it/200x200" alt="">
                <h3>Casey Cantu
                    <p><small><b class="fontjob">Job Title</b></small></p>
                </h3>
                <p><b class="fontdesc">What does this team member to? Keep it short! This is also a great spot for social links!</b></p>
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" src="http://placehold.it/200x200" alt="">
                <h3>Laura Morfin
                    <p><small><b class="fontjob">Job Title</b></small></p>
                </h3>
                <p><b class="fontdesc">What does this team member to? Keep it short! This is also a great spot for social links!</b></p>
            </div>
        </div>

        <hr>


    </div>
    <!-- /.container -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

</body>
