<%layout('layout') -%>

<body>
    <!-- Page Content -->
    <div class="container">
        <!-- Introduction Row -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header"><b class="fonttitle">About Us</b>
                </h1>
                <p><b class="fontbody">Thank you for visiting our page! We are a group of students from Code#RGV and we wanted to create a site that would help individuals wishing to donate and volunteer and make it easy to find locations in which to do so. We hope you find our page helpful!</b></p>
            </div>
        </div>
        <!-- Team Members Row -->
        <div class="row team-wrapper">
            <div class="col-lg-12">
                <h2 class="page-header"><b class="fonttitle">Our Team</b></h2>
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" src="https://s6.postimg.org/iuwvrcdbl/223021692_15503046198107057533.jpg" alt="" height="200" width="200">
                <h3>Jesus Marco del Carmen
                    <p><small><b class="fontjob">Team Leader/Back-End Development</b></small></p>
                </h3>
                <p><b class="fontdesc">I was team leader, and I worked on routing and server setup.</b></p>
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" src="https://s6.postimg.org/hjp4ivhpt/226612628_3667633605572117959.jpg" alt="" height="200" width="200">
                <h3>Elia Rodriguez
                  <p><small><b class="fontjob">Back-End Development</b></small></p>
                </h3>
                <p><b class="fontdesc">I worked on the database &amp;  Weather API for the GiveItApp.</b></p>
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" src="https://s6.postimg.org/f4x8yg1gx/IMG_2016_12_05_15_15_11.jpg" alt="" height="200" width="200">
                <h3>Leonardo I. Escandon Jackson
                  <p><small><b class="fontjob">Back-End Development</b></small></p>
                </h3>
                <p><b class="fontdesc">Mostly does bird stuff, but also did some computer stuffs too. Coo Coo!</b></p>
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" src="https://s6.postimg.org/53sep4odt/223032671_18226182155262244616.jpg" alt="" height="200" width="200">
                <h3>Gracie Montes-Lopez
                    <p><small><b class="fontjob">Front-End Development</b></small></p>
                </h3>
                <p><b class="fontdesc">I worked on the "About Us" page, assistant with over viewing all the text, background code, as well as editing the photography.</b></p>
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" src="https://s6.postimg.org/r5ioz68vl/IMG_2016_12_05_15_00_29.jpg" alt="" height="200" width="200">
                <h3>Casey Cantu
                    <p><small><b class="fontjob">Front-End Development</b></small></p>
                </h3>
                <p><b class="fontdesc">I worked on the "About Us" page, worked on text and background code, photographer.</b></p>
            </div>
            <div class="col-lg-4 col-sm-6 text-center">
                <img class="img-circle img-responsive img-center" src="https://s6.postimg.org/sgqg7n4hd/223022078_12125164481250749600.jpg" alt="" height="200" width="200">
                <h3>Laura Morfin
                    <p><small><b class="fontjob">Front-End Development</b></small></p>
                </h3>
                <p><b class="fontdesc">I worked on layout design and database entry.</b></p>
            </div>
        </div>
        <hr>
    </div><!-- /.container -->
</body>
