<% layout('layout') -%>

<div class="container">
  <h1 class="text-center">Donations</h1>
  <!-- FIRST ROW -->
  <div class="row">
    <div class="col-lg-6">
      <h3 class="text-center"><a href='/donation/foodbank'>FoodBank</a></h3>
      <p class="lead"> IMAGE AND INFO GOES HERE</p>
      <p class="text-center">Foodbank of the RGV</p>
      <p class="text-center">724 N Cage Blvd Pharr, Texas 78577</p>
      <p class="text-center">(956) 682-8101</p>
      <p class="text-center">8:00 am - 5:00 pm</p>
      <button type="button" class="btn btn-info">Visit Site</button>
    </div>
    <div class="col-lg-6">
      <h3 class="text-center"><a href='/donation/goodwill'>Clothes and Toys</a></h3>
      <p class="lead"> IMAGE AND INFO GOES HERE</p>
      <p class="text-center">Goodwill of South Texas</p>
      <p class="text-center">1561 S. McColl Road Edinburg, Texas 78539</p>
      <p class="text-center">(866) 222-0555</p>
      <p class="text-center">Open 24 Hours</p>
      <button type="button" class="btn btn-info">Visit Site</button>
    </div>
  </div>


  <!-- SECOND ROW -->
  <div class="row">
    <div class="col-lg-6">
      <h3 class="text-center"><a href='/donation/blood'>Blood</a></h3>
      <p class="lead"> IMAGE AND INFO GOES HERE</p>
      <p class="text-center">United Blood Services</p>
      <p class="text-center">1400 S 6th St McAllen, Texas 78501</p>
      <p class="text-center">(877) 827-4376</p>
      <p class="text-center">8:00 am - 3:00 pm</p>
      <button type="button" class="btn btn-info">Visit Site</button>
    </div>
    <div class="col-lg-6">
      <h3 class="text-center"><a href='/donation/blood_services'>Plasma</a></h3>
      <p class="lead"> IMAGE AND INFO GOES HERE</p>
      <p class="text-center">United Blood Services</p>
      <p class="text-center">1400 S 6th St McAllen, Texas 78501</p>
      <p class="text-center">(877) 827-4376</p>
      <p class="text-center">8:00 am - 3:00 pm</p>
      <button type="button" class="btn btn-info">Visit Site</button>
    </div>
  </div>
</div>
