<% layout('layout') -%>
<h3>
    <li><a href='/donation/foodbank'>FoodBank</a></li>
    <li><a href='/donation/monetary'>Monetary</a></li>
    <li><a href='/donation/clothesandtoys'>Clothes and Toys</a></li>
    <li><a href='/donation/blood'>Blood</a></li>
    <li><a href='/donation/plasma'>Plasma</a></li>
</h3>
