<% layout('layout') -%>

<div class="container">
  <!-- FIRST ROW -->
  <div class="row">
    <div class="col-lg-4">
      <h3 class="text-center"><a href='/donation/foodbank'>FoodBank</a></h3>
      <p class="lead"> IMAGE AND INFO GOES HERE</p>
    </div>
    <div class="col-lg-4">
      <h3 class="text-center"><a href='/donation/monetary'>Monetary</a></h3>
      <p class="lead"> IMAGE AND INFO GOES HERE</p>
    </div>
    <div class="col-lg-4">
      <h3 class="text-center"><a href='/donation/clothesandtoys'>Clothes and Toys</a></h3>
      <p class="lead"> IMAGE AND INFO GOES HERE</p>
    </div>
  </div>


  <!-- SECOND ROW -->
  <div class="row">
    <div class="col-lg-6">
      <h3 class="text-center"><a href='/donation/blood'>Blood</a></h3>
      <p class="lead"> IMAGE AND INFO GOES HERE</p>
    </div>
    <div class="col-lg-6">
      <h3 class="text-center"><a href='/donation/plasma'>Plasma</a></h3>
      <p class="lead"> IMAGE AND INFO GOES HERE</p>
    </div>
  </div>
</div>
