<% layout('layout') -%>

<div class="container">
  <h1 class="text-center">Donations</h1>
  <!-- FIRST ROW -->
  <div class="row">
    <div class="col-lg-6">
      <h3 class="text-center">FoodBank</h3>
    <!--  <p class="lead"> IMAGE AND INFO GOES HERE</p>-->
      <p class="text-center"><a href='/donation/foodbank'>Foodbank of the RGV</a></p>
      <p class="text-center">724 N Cage Blvd Pharr, Texas 78577</p>
    <!--  <p class="text-center">(956) 682-8101</p>
      <p class="text-center">8:00 am - 5:00 pm</p>
    <!--  <button type="button" class="btn btn-info">Visit Site</button>-->
    </div>
    <div class="col-lg-6">
      <h3 class="text-center">Goodwill of South Texas</h3>
    <!--  <p class="lead"> IMAGE AND INFO GOES HERE</p>-->
      <!--<p class="text-center"><a href='/donation/clothesandtoys'>Goodwill of South Texas</a></p>-->
      <p class="text-center"><a href='/donation/clothesandtoys'>1561 S. McColl Road Edinburg, Texas 78539</a></p>
    <!--  <p class="text-center">(866) 222-0555</p>
      <p class="text-center">Open 24 Hours</p>
      <form action="http://google.com">
        <!--<input type="submit" value="Visit Site" class="btn btn-info"/>-->
      <p class="text-center"><a href='/donation/clothesandtoys'>300 East Mile 3, Suite 101 Palmhurst, Texas 78539</a></p>
      <p class="text-center"><a href='donation/clothesandtoys'>2713 W Nolana Ave. McAllen, Texas 78501</a></p>
      <p class="text-center"><a href='donation/clothesandtoys'>1323 W Frontage Rd. Alamo, Texas 78516</a></p>  
      </form>
    </div>
  </div>


  <!-- SECOND ROW -->
  <div class="row">
    <div class="col-lg-6">
      <h3 class="text-center">Blood</h3>
      <!--<p class="lead"> IMAGE AND INFO GOES HERE</p>-->
      <p class="text-center"><a href='/donation/blood'>United Blood Services</a></p>
      <p class="text-center">1400 S 6th St McAllen, Texas 78501</p>
      <!--<p class="text-center">(877) 827-4376</p>
      <p class="text-center">8:00 am - 3:00 pm</p>
    <!--  <button type="button" class="btn btn-info">Visit Site</button>-->
    </div>
     <div class="col-lg-6">
      <h3 class="text-center">Plasma</a></h3>
      <!--<p class="lead"> IMAGE AND INFO GOES HERE</p>-->
      <p class="text-center"><a href='/donation/blood_services'>GRIFOLS Plasma</a></p>
      <p class="text-center">400 N 10th Street McAllen, Texas 78501</p>
      <!--<p class="text-center">(877) 827-4376</p>
      <p class="text-center">Monday, Wednesday, Friday-Saterday 7am - 4pm</p>
      <p class="text-center">Teusday, Thursday 7am - 6pm</p>
      <p class="text-center">Sunday Closed</p>
      <!--<button type="button" class="btn btn-info">Visit Site</button>-->
    </div>
  </div>
</div>
