<% layout('layout') -%>
<div>
  <h1>
  <p>The site for all your giving needs.</p></h1> <!--playing with collaborative git pushes-->
</div>
<div class="row">
  <div class="col-lg-6">
    <h2>
      <ul><a href='/donations'>Donation</a></ul>
    </h2>
<!--<h3>
    <li><a href='/donation/foodbank'>FoodBank</a></li>
    <li><a href='/donation/monetary'>Monetary</a></li>
    <li><a href='/donation/clothesandtoys'>Clothes and Toys</a></li>
    <li><a href='/donation/blood'>Blood</a></li>
    <li><a href='/donation/plasma'>Plasma</a></li>
  </h3>-->
  </div>
  <div class="col-lg-6">
    <h2>
      <ul><a href='/volunteer'>Volunteer</a></ul>
    </h2>
  <!--  <h3>
      <li><a href='/volunteer/hospital',>Hospital</a></li>
      <li><a href='/volunteer/foodbank'>FoodBank</a></li>
      <li><a href='/volunteer/animalshelter'>Animal Shelter</a></li>
    </h3>-->
  </div>
</div>
