<% layout('layout') -%>
<div>
  <h1></h1>
  <p></p> <!--playing with collaborative git pushes-->
</div>
<div class="row">
  <div class="col-lg-6"> <h1>Donations</h1>
    <ul>
      <li><a href='/donation/foodbank'>FoodBank</a></li>
      <li><a href='/donation/monetary'>Monetary</a></li>
      <li><a href='/donation/clothesandtoys'>Clothes and Toys</a></li>
      <li><a href='/donation/blood'>Blood</a></li>
      <li><a href='/donation/plasma'>Plasma</a></li>
    </ul>
  </div>
  <div class="col-lg-6"><h1>Volunteers</h1>
    <ul>
      <li><a href='/volunteer/hospital',>Hospital</a></li>
      <li><a href='/volunteer/foodbank'>FoodBank</a></li>
      <li><a href='/volunteer/animalshelter'>Animal Shelter</a></li>
    </ul>
  </div>
</div>
