<% layout('layout') -%>



<div class="row">
  <h1 class="text-center">The site for all your giving needs.</h1>
  <div class="col-lg-6 text-center">
    <h2>
      <a href='/donation'>Donation</a>
    </h2>
  </div>
  <div class="col-lg-6 text-center">
    <h2>
      <a href='/volunteer'>Volunteer</a>
    </h2>
  </div>
</div>
