<% layout('layout') -%>
<div>
  <h1>
  <p>The site for all your giving needs.</p></h1> <!--playing with collaborative git pushes-->
</div>
<div class="row">

  <div class="col-lg-6">
    <h2>
      <a href='/donation'>Donation</a>
    </h2>
  </div>

  <div class="col-lg-6">
    <h2>
      <a href='/volunteer'>Volunteer</a>
    </h2>
  </div>

</div>
