<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <title>Give It App</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Aref+Ruqaa|Varela+Round">
        <link rel="stylesheet" href="/css/round-about.css">
        <link rel="stylesheet" href="/css/main.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
        <script src="/js/app.js"></script>
        <!-- weather script -->
        <!-- <script type="text/javascript" src="http://code.jquery.com/jquery-latest.min.js"></script> -->
        <!-- end of weather script -->
    </head>

    <body>
        <nav class="navbar navbar-default navbar-static-top stuck">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>

                    <strong><a class="navbar-brand" href="/">Give It App </a></strong>
                </div>
                <div id="navbar" class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a href="/">Home</a></li>
                        <li><a href="/about">About</a></li>
                    </ul>
                </div>
            </div>
            <!-- /container--->
            <form class="form-group mt-1" action="/api/search/" method="post">
                <input class="" type="text" name="searchq" value="" placeholder="Search by name . . .">
                <input type="submit" name="search-submit" value="Search">
            </form>
        </nav>
        <!-- /nav--->


        <div class="back">
            <%- body %>
        </div>

<<<<<<< HEAD
    <div class="right-christmas-tree">
      <img src="/images/christmas-tree.gif"/>
    </div>
    <div class="left-christmas-tree">
      <img src="/images/christmas-tree.gif"/>
    </div>
=======
>>>>>>> ab9e1b4fcfe5ba479b872a7b2a43abd4e3f4dfc3

        <div class="right-christmas-tree">
            <img src="/images/christmas-tree.gif" />
        </div>
        <div class="left-christmas-tree">
            <img src="/images/christmas-tree.gif" />
        </div>

        <section class="footer">
            <div class="container">
                <div class="col-md-4 col-xs-4">
                    <h4> Volunteer </h4>
                    <ul>
                        <li class="line_rv"><a href="http://pvaconline.com/">Palm Valley Animal Center<i class="fa fa-arrow-left"></i></a></li>
                        <li><a href="https://www.dhr-rgv.com/Career-Center/Volunteer-Services.aspx">Doctor's Hospital at Renissance<i class="fa fa-arrow-left"></i></a></li>
                        <li><a href="http://www.southtexashealthsystem.com/community-programs/volunteers#.WD8Q76IrJE4">McAllen Medical Center<i class="fa fa-arrow-left"></i></a></li>
                        <li><a href="http://riohealth.com/patients-and-visitors/volunteers.dot">Rio Grande Regional Hospital<i class="fa fa-arrow-left"></i></a></li>
                        <li><a href="http://missionrmc.org/patients-visitors/volunteers/">Mission Regional Medical Center<i class="fa fa-arrow-left"></i></a></li>
                        <li><a href="http://www.foodbankrgv.com/howtohelp-2/volunteer">Food Bank of the RGV<i class="fa fa-arrow-left"></i></a></li>
                    </ul>
                </div>
                <div class="col-md-4 col-xs-4">
                    <!-- /donation--->
                    <h4>Donation</h4>
                    <ul>
                        <li><a href="http://www.foodbankrgv.com/">Food Bank of the RGV<i class="fa fa-arrow-left"></i></a></li>
                        <li><a href="http://www.goodwillsouthtexas.com">Goodwill of South Texas<i class="fa fa-arrow-left"></i></a></li>
                        <li><a href="https://www.bloodhero.com">United Blood Services<i class="fa fa-arrow-left"></i></a></li>
                    </ul>
                </div>
                <div class="col-md-4 col-xs-4">
                    <!-- /contributors--->
                    <h4>Contributors</h4>
                    <ul>
                        <li><a href="https://github.com/jmdelcarmen">Jesus Marco del Carmen<i class="fa fa-github-alt"></i></a></li>
                        <li><a href="https://github.com/lost-kitten">Elia Rodriguez<i class="fa fa-github-alt"></i></a></li>
                        <li><a href="https://github.com/bururik">Leonardo I. Escandon Jackson<i class="fa fa-github-alt"></i></a></li>
                        <li><a href="https://github.com/LauraMorfin">Laura Morfin<i class="fa fa-github-alt"></i></a></li>
                        <li><a href="https://github.com/Domana">Gracie Montes-Lopez<i class="fa fa-github-alt"></i></a></li>
                        <li><a href="https://github.com/Flyjin88/">Casey Cantu<i class="fa fa-github-alt"></i></a></li>
                    </ul>
                </div>
            </div>
            <!-- /container--->
            </div>
            <br>
            <br>
            <p class="text-center">
                Website created by members of
                <a class="ell" href="http://www.codergv.org/">Code RGV </a>&#169; 2016
            </p>
        </section>
    </body>

</html>
