<% layout('layout') -%>
<h3>
  <li><a href='/volunteer/hospital',>Hospital</a></li>
  <li><a href='/volunteer/foodbank'>FoodBank</a></li>
  <li><a href='/volunteer/animalshelter'>Animal Shelter</a></li>
</h3>
