<% layout('layout') -%>
<<<<<<< HEAD

<div class="container " id="volunteer">


  <!-- FIRST ROW -->
  <div class="row">
    <div class="col-lg-4">
      <h3 class="text-center"><a href='/volunteer/hospital'>Hospital</a></h3>
      <p class="lead"> IMAGE AND INFO GOES HERE</p>
    </div>
    <div class="col-lg-4">
      <h3 class="text-center"><a href='/volunteer/foodbank'>FoodBank</a></h3>
      <p class="lead"> IMAGE AND INFO GOES HERE</p>
    </div>
    <div class="col-lg-4">
      <h3 class="text-center"><a href='/volunteer/animalshelter'>Animal Shelter</a></h3>
      <p class="lead"> IMAGE AND INFO GOES HERE</p>
    </div>
  </div>



=======


<h3>
  <li><a href='/volunteer/hospital',>Hospital</a></li>
  <li><a href='/volunteer/foodbank'>FoodBank</a></li>
  <li><a href='/volunteer/animalshelter'>Animal Shelter</a></li>
</h3>
>>>>>>> cards
