<% layout('layout') -%>


<div class="container " id="volunteer">


  <!-- FIRST ROW -->
  <div class="row">
    <div class="col-lg-4">
      <h3 class="text-center"><a href='/volunteer/hospital'>Hospital</a></h3>
      <p class="lead"> IMAGE AND INFO GOES HERE</p>
      <p class="text-center"> Doctors Hospital At Renaissance</p>
      <p class="text-center">5501 S. McColl Rd  Edinburg, Texas 78539</p>
      <p class="text-center">956-362-3203</p>
      <p class="text-center">Open 24 hours</p>
      <button type="button" class="btn btn-info">Visit Site</button>
      <p class="lead"> IMAGE AND INFO GOES HERE</p>
      <p class="text-center">South Texas Health System</p>
      <p class="text-center">1400 W. Trenton Rd. Edinburg, Texas 78539</p>
      <p class="text-center">956-388-2020</p>
      <p class="text-center">Open 24 hours
        <button type="button" class="btn btn-info">Visit Site</button>
    </div>
    <div class="col-lg-4">
      <h3 class="text-center"><a href='/volunteer/foodbank'>FoodBank</a></h3>
      <p class="lead"> IMAGE AND INFO GOES HERE</p>
      <p class="text-center">Food Bank of the RGV</p>
      <p class="text-center">724 N Cage Blvd Pharr, Texas 78577</p>
      <p class="text-center">(956) 682-8101</p>
      <p class="text-center">8:00 am - 5:00 pm</p>
      <button type="button" class="btn btn-info">Visit Site</button>
    </div>
    <div class="col-lg-4">
      <h3 class="text-center"><a href='/volunteer/animalshelter'>Animal Shelter</a></h3>
      <p class="lead"> IMAGE AND INFO GOES HERE</p>
      <p class="text-center">Palm Valley Animal Center</p>
      <p class="text-center">2501 W Trenton Rd Edinburg, Texas 78539</p>
      <p class="text-center">956-686-1141</p>
      <p class="text-center">Monday-Saturday 8:00 am - 5:00 pm, Sunday 10 am - 4:00 pm</p>
      <button type="button" class="btn btn-info">Visit Site</button>
    </div>
  </div>
