<% layout('layout') -%>
<head>
<style>
.center {
    text-align: center;
    border: 3px solid black;
}
</style>
</head>

<body>

<div class="center">
  <h1>Volunteer</h1>
</div>

<h3>
  <li><a href='/volunteer/hospital',>Hospital</a></li>
  <li><a href='/volunteer/foodbank'>FoodBank</a></li>
  <li><a href='/volunteer/animalshelter'>Animal Shelter</a></li>
</h3>
</body>
