* {
  box-sizing: border-box;
}

body {
  background: #f1f1f1;
  color: #444;
  height: 100%;
  width: 100%;
}

.col-lg-6{
  background: linear-gradient(90deg,
     rgba(255, 255, 255, 0) 0%,
     rgba(255, 255, 255, 0.2) 25%,
     rgba(255, 255, 255, 0.2) 75%,
     rgba(255, 255, 255, 0) 100%);
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.1),
     inset 0 0 1px rgba(255, 255, 255, 0.6);
}

.col-lg-4{
  background: linear-gradient(90deg,
     rgba(255, 255, 255, 0) 0%,
     rgba(255, 255, 255, 0.2) 25%,
     rgba(255, 255, 255, 0.2) 75%,
     rgba(255, 255, 255, 0) 100%);
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.1),
     inset 0 0 1px rgba(255, 255, 255, 0.6);
}

.back {
  background: url("https://s6.postimg.org/pkuiyfq0h/minimal_desktop_wallpaper_give_2.png");
  padding-top:50px;
  padding-bottom:20px;
}

/*.donate-photo {
  height:45%;
  width:45%;
}

.volunteer-photo {
  height:67.7%;
  width:67.7%;
}*/

.stuck {
  position: fixed;
  width: 100%;
}

.left-christmas-tree{
  position: fixed;
  bottom: 0;
  left: 0;
  width: 87px;
}

.right-christmas-tree{
  position: fixed;
  bottom: 0;
  right: 0;
  width: 87px;
}

a, a:active, a:hover {
  text-decoration: none;
  border: none;
  cursor:pointer;
}

.bold {
  font-size:x-large;
  align: center;
  font-weight: bold;
}

ul, li {
  list-style: none;
}

.row {
  margin-top: 2em;
}

.row div {
  /*border: 1px solid black;*/
  min-height: 300px;
}


#volunteer {
  margin-top: 50px;

}

#map {
 height: 400px;
 width: 50%;
 position: relative;
 left: 25%;
}

.img-center{
 display: inline-block;
 margin: 0 auto;
}

.navbar {
  margin-bottom: 0px;
  background: #444 !important;
  border: none;
  text-align: right;
}

.navbar ul li a {
  color: #ddd !important;
}

.navbar ul li {
  transition: .4s all;
}

.navbar ul li:hover, .navbar ul li a:hover {
  background: #666;
  color: #fff;
}

section.footer {
  background: #444;
  color: white;
  padding: 2em 0;
}

section.footer li, section.footer a {
  color: rgba(255,255,255, 0.3);
}

section.footer li:hover, section.footer a:hover {
  color: #dedede;
}

section.footer ul {
  padding: 0;
}

.navbar-brand {
  background: #F73101;
  color: white !important;
}

.navbar-brand:hover {
  background: #F73101 !important;
}

.index-display img {
  width: 400px;
  height: 280px;
  border: 2px solid #fff;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
}

.index-display section {
  /*border: 2px solid white;*/
  padding: 0 0 2em;
  background: rgba(0, 0, 0, 0.5);
}

.index-display section a {
  display: inline-block;
  padding: 7px 30px;
  border-bottom: 2px solid ivory;
  margin: 0 0 1em;
  color: #F73101;
  background: #fff;
  width: 100%;
  transition: .4s all;
  border-top: 4px solid #F73101;
}

.index-display section a:hover {
  color: #fff;
  background: #F73101;
}

.fonttitle {
	font-family: "Times New Roman";
	color: #E3DFBA;
	font-size:60px;
  font-weight: bold;
  text-shadow: -1px 0 #000000,0 1px #000000,1px 0 #000000,0 -1px #000000;
}

.fontbody {
	font-family: "Times New Roman";
	color: #E3DFBA;
	font-size:30px;
  font-weight: bold;
  text-shadow: -1px 0 #000000,0 1px #000000,1px 0 #000000,0 -1px #000000;
}

.fontjob {
	font-family: "Verdana";
	color: #FF0000;
	font-size:18px;
}

.fontdesc {
	font-family: "Verdana";
	color: #000000;
	font-size:20px;
}

.ell{
  color:white !important;
}

#floating-panel {
  position: absolute;
  top: 10px;
  left: 25%;
  z-index: 5;
  background-color: #fff;
  padding: 5px;
  border: 1px solid #999;
  text-align: center;
  font-family: 'Roboto','sans-serif';
  line-height: 30px;
  padding-left: 10px;
}
