* {
  box-sizing: border-box;
  font-family: 'Varela Round', sans-serif;
}

body {
  background: #f1f1f1;
  color: #444;
  height: 100%;
  width: 100%;
}

.col-lg-6{
  background: linear-gradient(90deg,
     rgba(255, 255, 255, 0) 0%,
     rgba(255, 255, 255, 0.2) 25%,
     rgba(255, 255, 255, 0.2) 75%,
     rgba(255, 255, 255, 0) 100%);
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.1),
     inset 0 0 1px rgba(255, 255, 255, 0.6);
}

.col-lg-4{
  background: linear-gradient(90deg,
     rgba(255, 255, 255, 0) 0%,
     rgba(255, 255, 255, 0.2) 25%,
     rgba(255, 255, 255, 0.2) 75%,
     rgba(255, 255, 255, 0) 100%);
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.1),
     inset 0 0 1px rgba(255, 255, 255, 0.6);
}

.back {
  background: url("https://s6.postimg.org/pkuiyfq0h/minimal_desktop_wallpaper_give_2.png");
  padding-top:50px;
  padding-bottom:20px;
}

/*.donate-photo {
  height:45%;
  width:45%;
}*/

/*.volunteer-photo {
  height:18px;
  width:18px;
}*/

.stuck {
  position: fixed;
  width: 100%;
}

.left-christmas-tree{
  position: fixed;
  bottom: 0;
  left: 0;
  width: 87px;
}

.right-christmas-tree{
  position: fixed;
  bottom: 0;
  right: 0;
  width: 87px;
}

a, a:active, a:hover {
  text-decoration: none;
  border: none;
  cursor:pointer;
}

.bold {
  font-size:x-large;
  align: center;
  font-weight: bold;
}

ul, li {
  list-style: none;
}

.row {
  margin-top: 2em;
}

.row div {
  /*border: 1px solid black;*/
  min-height: 300px;
}


#volunteer {
  margin-top: 50px;

}

#map {
 height: 400px;
 width: 50%;
 position: relative;
 left: 25%;
}

.img-center{
 display: inline-block;
 margin: 0 auto;
}

.navbar {
  margin-bottom: 0px;
  background: #444 !important;
  border: none;
  text-align: right;
}

.navbar ul li a {
  color: #ddd !important;
}

.navbar ul li {
  transition: .4s all;
}

.navbar ul li:hover, .navbar ul li a:hover {
  background: #666;
  color: #fff;
}

section.footer {
  background: #444;
  color: white;
  padding: 2em 0;
}

section.footer li, section.footer a {
  color: rgba(255,255,255, 0.3);
}

section.footer li:hover, section.footer a:hover {
  color: #dedede;
}

section.footer ul {
  padding: 0;
}

.navbar-brand {
  background: #F73101;
  color: white !important;
}

.navbar-brand:hover {
  background: #F73101 !important;
}

.index-display img {
  width: 400px;
  height: 280px;
  border: 2px solid #fff;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
}

.index-display section {
  /*border: 2px solid white;*/
  padding: 0 0 2em;
  background: rgba(0, 0, 0, 0.5);
}

.index-display section a {
  display: inline-block;
  padding: 7px 30px;
  border-bottom: 2px solid ivory;
  margin: 0 0 1em;
  color: #F73101;
  background: #fff;
  width: 100%;
  transition: .4s all;
  border-top: 4px solid #F73101;
}

.index-display section a:hover {
  color: #fff;
  background: #F73101;
}

.fonttitle {
	font-family: "Times New Roman";
	color: #E3DFBA;
	font-size:60px;
  font-weight: bold;
  text-shadow: -1px 0 #000000,0 1px #000000,1px 0 #000000,0 -1px #000000;
}

.fontbody {
	font-family: "Times New Roman";
	color: #000000;
	font-size:30px;
  font-weight: bold;
}

.fontjob {
	font-family: "Verdana";
	color: #FF0000;
	font-size:14px;
}

.fontdesc {
	font-family: "Verdana";
	color: #000000;
	font-size:12px;
}

.ell{
  color:white !important;
}

.relative{
  position:relative;
}

.nav-image{
  display: inline;
  float: right;
  background: url("/images/navigation.png") no-repeat;
  background-size: contain;
  font: 0/0 serif;
  text-shadow: none;
  color: transparent;
  width: 57px;
  height: 57px;
}

#floating-panel {
  position: absolute;
  right: 25%;
  z-index: 5;
  padding: 5px;
  text-align: center;
  line-height: 30px;
  padding-left: 10px;
}

.page-header {
  text-align: center;
  font-family: 'Aref Ruqaa', serif;
  font-size: 3.8em;
  color: #f1f1f1;
  margin-bottom: .5em;
  padding: .15em 0 .35em;
  border: none;
  background: #444;
  font-weight: 700;
}

#about h3.about-text {
  color: #333;
  background: rgba(255, 255, 255, .75);
  padding: 3em 2em;
}



.team-wrapper .col-lg-4 {
  background: rgba(255, 255, 255, 0.3);
  box-sizing: none;
  border: .01px dotted tomato;
}

.team-wrapper div.text-center {
  min-height: 400px;
}

.team-wrapper div:first-child {
  min-height: 120px !important;
}

.team-wrapper div .fontdesc {
  font-family: 'Varela Round', sans-serif !important;
  font-size: 1em;
}

.team-wrapper div img {
  margin-top: 2em;
  border: 3px solid rgba(0, 0, 0, 0.5);
  transition: .35s ease-in-out;
}

.team-wrapper div img:hover {
  transform: rotate(-10deg) scale(1.15);
}

nav {
  position: relative;
}

nav form {
  position: absolute;
  top: 10%;
  right: 10%;
  width: 30%;
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  height: 80%;
}

input[name="searchq"] {
  min-width: 20%;
  border: none;
  padding: 3px 7px;
  flex-grow: 1;
  transition: .4s all;
  font-size: 1.25em;
}

input[name="searchq"]:focus {
  flex-grow: 1.75;
}

input[name="searchq"]:focus + input[name="search-submit"] {
  flex-grow: .25;
}


input[name="search-submit"] {
  transition: .4s all;
  flex-grow: .75;
  margin-left: 5px;
  border: none;
  background: #6abcc2;
  color: white;
  font-size: 1.1em;
  font-weight: 700;
}

input[name="search-submit"]:hover {
  background: #27777c;
}

.back {
  min-height: calc(100vh - 295px);
}


.flex .col-lg-4, .search-result .col-lg-6 {
  background: rgba(0, 0, 0, 0.5);
  padding-top: 10px;
}

.flex .col-lg-4 h3, .search-result .col-lg-6 {
  color: #fefefe;
  font-family: 'Aref Ruqaa', serif;
}

.flex .col-lg-4 a, .search-result .col-lg-6 a {
  color: #fefefe;
  display: block;
  padding-left: 5px;
  font-size: 1.15em;
  margin-bottom: .3em;
}

.flex .col-lg-4 a::before {
  content: "";
  display: inline-block;
  width: 15px;
  height: 15px;
  background: tomato;
  border-radius: 50%;
  margin-right: 10px;
}

.flex .col-lg-4 p {
  color: #999;
  padding-left: 20px;
}

.flex .col-lg-4 a:hover {
  color: #ededed;
}

a:hover > .fa {
  /*color: red;*/
  opacity: 1;
  transform: translateX(7px);
}

.fa {
  opacity: 0;
  transition: .4s all;
  transform: translateX(15px);
  color: #fff;
  font-size: 1.15em;
}

.weatherTarget {
  margin: 0 25%;
}

.search-result img {
  width: 100%;
}

.btn-block {
  margin: 1em 0;
}














@media only screen and (max-width : 768px) {
  nav form {
    display: none;
  }
}
