<% layout('../layout') -%>
VOLUNTEER HOSPITAL PAGE
<p class="lead"> IMAGE AND INFO GOES HERE</p>
<p class="text-center"> Doctors Hospital At Renaissance</p>
<p class="text-center">5501 S. McColl Rd  Edinburg, Texas 78539</p>
<p class="text-center">956-362-3203</p>
<p class="text-center">Open 24 hours</p>

<p class="lead"> IMAGE AND INFO GOES HERE</p>
<p class="text-center">South Texas Health System</p>
<p class="text-center">1400 W. Trenton Rd. Edinburg, Texas 78539</p>
<p class="text-center">956-388-2020</p>
<p class="text-center">Open 24 hours </p>
<%= volunteers%>  
